<!DOCTYPE html>
<html>
<head>
	<title>{{page}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
	<header>
		<div class = "row">
			<div class="col-lg-12 col-sm-12">
				<div class = "container-fluid bg-primary">
					<h1 class="text-center text-dark">SPAM HAM CLASSIFIER</h1>
					<h2 class = "text-center text-dark p-2">ML WEB APP</h2>
					<h6></h6>
					<a href="{{url_for('dataset')}}" class="btn btn-small btn-warning center col-12 col-md-4 col-lg-2 col-xl-1 ml-6"> Show Dataset</a><h6></h6>
					<a href="{{url_for('index')}}" class = "btn btn-small btn-warning col-12 col-md-4 col-lg-2 col-xl-1 ml-6">Refresh</a>
				</div> 
				
			</div>

		</div></header>

	
		</div>
        
        <div class ="row">
			<div class ="col-xl-6 col-lg-3 col-md-3 col-sm-1 col-1">
				<span class="text-dark text-capitalize mb-3">Enter your text here ...</span>
			</div>
		</div>

		<div class ="row">
			<div class ="col-xl-6 col-lg-3 col-md-3 col-sm-1 col-1">
				<form method="POST" action="{{url_for('predict')}}" class = "form-group">
					<textarea name="comment" rows="5" cols="60"></textarea>
			</div>
		</div>	

		<div class ="row">
			<div class ="col-xl-6 col-lg-3 col-md-3 col-sm-1 col-1">
				<input type="submit" class="btn btn-small btn-primary btn-outline-dark ml-5 mt-3 w-20 h-10" value="Predict"/>
				</form>
			</div>
		</div></section>

	
		{% if prediction == 0%}
		<p class = "text-success text-center"><strong>Ham</strong></p>
		{% elif prediction == 1%}
		<p class = "text-danger font-weight-bold text-center">Spam</p>
		{% endif %}

	

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>